$mainColor: red;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.main-gallery {
    font-size: 20px;
    color: $mainColor;
}

#gallery {
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.gallery-item {
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px ;
        &__image{
            width: 100%;
            max-width: 330px;
            height: 250px;
            object-fit: cover;
        }
 	
	&__audio{
            margin: 100px 0 100px 0;
        }

        &__video {
            width: 100%;
            max-width: 330px;
            height: 250px;
        }

        &__title {
            padding: 20px 0;
        }

	&__title {
            background-color: #f1f3f4;
        }
}
